.introduce {
    display: flex;
}


.introduce-top-box {
    margin-top: 20px;
}

.introduce-name {
padding-top: 15px;
}

.introduce-title {
    font-size: 25px;
    font-weight: bold;
}

.introduce-top {
    width: 200px;
    margin-top: 20px; 
    background-color: #0f8563;
    overflow: hidden;
    padding: 10px 10px;
}

.introduce-top-text {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.introduce-middle {
    margin-top: 20px;
}

.introduce-middle-text {
    font-size: 18px;
    color: #777777;
    text-decoration: none;
}

.introduce-bottom {
    margin-top: 20px;
}

.introduce-bottom-text {
    font-size: 18px;
    color: #777777;
    text-decoration: none;
}

.introduce-bottom-box {
    padding: 35px;
}

.name {
    width: 1350px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 20px;
}

.text-name {
    font-size: 30px;
}

.download {
    display: flex;
    justify-content: end;
}

.download-bg {
    background-color: #e2e2e2;
    padding: 5px;
    margin-top: 20px;
}

.download-btn {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-img {
    width: 40px;
}