.introduce {
    display: flex;
}


.introduce-top-box {
    margin-top: 20px;
}

.introduce-name {
padding-top: 15px;
}

.introduce-title {
    font-size: 25px;
    font-weight: bold;
}

.introduce-top {
    width: 200px;
    margin-top: 20px; 
    background-color: #13a478;
    overflow: hidden;
    padding: 10px 10px;
}

.introduce-top-text {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.introduce-middle {
    margin-top: 20px;
}

.introduce-middle-text {
    font-size: 18px;
    color: #777777;
    text-decoration: none;
}

.introduce-bottom {
    margin-top: 20px;
}

.introduce-bottom-text {
    font-size: 18px;
    color: #777777;
    text-decoration: none;
}

.introduce-bottom-box {
    padding: 35px;
}

.name {
    width: 1350px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 20px;
}

.text-name {
    font-size: 30px;
}

.name-detail {
    display: flex;
    border: 1px dashed #eeeeee;
    margin-top: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.box {
    width: 1200px;
    height: 500px;
    border: thin solid #f0efef;
    margin-left: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.box-title {
    display: flex;
}

.num {
    width: 60px;
    height: 60px;
    background-color: #699FDA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
}

.num-text {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.title {
    width: 1140px;
    background-color: #EDF7FE;
    padding: 15px;
    display: flex;
    align-items: center;
    border-top-right-radius: 10px;
}

.title-text {
    font-size: 22px;
}

.box-detail {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.detail-text {
    color: #2C74D3;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.detail-sub-text {
    margin-bottom: 30px;
}

.cat-box {
    width: 1200px;
    height: 350px;
    border: thin solid #f0efef;
    margin-left: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.vaccination-box {
    width: 1200px;
    height: 1600px;
    border: thin solid #f0efef;
    margin-left: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.vaccination {
    color: #EE7627;
    font-size: 18px;
}

.table {
    border-top: 2px solid black;
    margin-bottom: 15px
}

.table-head {
    background-color: #f9f9f9;
    border-bottom: thin solid #e4e3e3;
    border-right: thin solid #e4e3e3;
    padding: 10px 15px;
}

.left {
    text-align: left;
    padding: 10px 15px;
    border-bottom: thin solid #e4e3e3;
    width: 400px;
}

.table-td {
    padding: 10px 15px;
    border-left: thin solid #e4e3e3;
    border-bottom: thin solid #e4e3e3;
}

.tage-sub-text {
    margin-bottom: 15px;
}

.tage-main-text {
    margin-left: 10px;
    margin-bottom: 15px;
}

.outing-box {
    width: 1200px;
    height: 600px;
    border: thin solid #f0efef;
    margin-left: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
}