*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1600px;
    margin-left: 60px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eeeeee;
}

.logo{
    width: 200px;
}

.menu-box{
    display: flex;
}

.menu{
    position: relative;
}

.menu:hover > .dropdown {
    display: block;
}

.menu-title{
    /* top & bottom: 28px, left & right : 32px */
    padding: 28px 32px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.menu-title:hover {
    color: #13A47B;
} 

.dropdown{
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: white;
    left: 0;
    top: 100%;
    box-shadow: 0 4px 4px 0 #dcdcdc;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    display: none;
    border-top: 2px solid #13A47B;
}

.dropdown-item{
    color: #777777;
    text-decoration: none;
    padding: 12px;
    display: block;
}

.dropdown-item:hover {
    color: #13A47B;
    text-decoration: underline;
}

.menu:hover > .menu-title {
    color: #13A47B;
}

.text-bold {
    font-weight: bold;
}

.text-title{
    font-size: 24px;
}

.text-sub-title {
    font-size: 20px;
}

.text-sub {
    color: #777777;
}

.text-margin-bottom {
    margin-bottom: 20px;
}

.text-color {
    color: #13A47B;
}
.text-margin-top {
    margin-top: 20px;
}

.text-row {
    display: flex;
    flex-direction: row;
}

.banner {
    margin-top: 20px;
    width: 100%;
}

.banner-img {
    width: 100%;
}

.text-detail {
    font-size: 15px;
}

.text-notice {
    font-size: 13px;
}

.text-notice-bottom {
    margin-bottom: 5px;
}

.text-notice-margin-bottom {
    margin-bottom: 10px;
}

.text-margin-left {
    margin-right: 20px;
}

.text-margin-right {
    margin-right: 20px;
}

.bottom-bar {
    width: 1600px;
    background-color: #3B414D;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin-top: 30px;
}

.notice {
    display: flex;
    margin-bottom: 20px;
}

.notice-left {
    color: rgb(255, 217, 0);
    margin-left: 20px;
    border-right: thin solid #777777;
}

.notice-left-middle {
    color: #777777;
    margin-left: 20px;
    border-right: thin solid #777777;
}

.notice-middle {
    color: #777777;
    margin-left: 20px;
    border-right: thin solid #777777;
}

.notice-right {
    color: #777777;
    margin-left: 20px;
}

.address {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: white;
}

.menu-color {
    color: #13A47B;
}